{% extends 'base.html' %}

{% block content %}
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">My Team</h5>
      <p class="card-text">
          <ul>
            <li>Pokemon 1: {{ post.poke1 }}</li>
            <li>Pokemon 2: {{ post.poke2 }}</li>
            <li>Pokemon 3: {{ post.poke3 }}</li>
            <li>Pokemon 4: {{ post.poke4 }}</li>
            <li>Pokemon 5: {{ post.poke5 }}</li>
          </ul>
        </p>
    </div>
  </div>


{% endblock %}



  
